node_modules
vendor
.git
.env
.env.*
!.env.example
!.env.production
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/clockwork
bootstrap/cache/*.php
tests
*.md
.idea
.vscode
docker-compose.yml
